<div class="row" ng-repeat="o in widgetObj">
  <div class="col-md-8">
    <div class="widget sky-bg">
      <div class="widget-icon widget-icon-top to-left">
        <div class="row-flex">
          <div class="flex-20 hide-xs">
            <!-- <ui-knob value="value[$index]" options="options" ></ui-knob> -->
          </div>
          <div class="flex-50 flex-last">
            <h2 class="bold">{{ o.metric | toTitleCase }}</h2>
          </div>
          <div class="flex-20 flex-last">
            <h4 class="italic">
              Global
            </h4>
          </div>
          <div class="flex-10 flex-last">
            <h2 class="bold-title">{{ o.global }}</h2>
          </div>
        </div>
      </div>
      <div class="widget-content to-center">
        <div class="row">
          <div class="col-md-3" ng-repeat="r in o.regions">
            <h3>{{ r.value }}</h3>
            <h4 class="bold">{{ r.name }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div id="pie-chart-value"></div>
  </div>
</div>
