<div class="panel-body panel-default table-responsive">
  <table id="tblone" class="table table-hover table-condensed" md-colresize="md-colresize">

    <thead>
      <tr class="md-table-headers-row header black-muted-bg">
        <th class="md-table-header" ng-repeat="h in headers"><a href="#" ng-if="handleSort(h.field)" ng-click="reverse=!reverse;order(h.field,reverse)">{{h.name}} <i class="ion-android-arrow-dropup" ng-show="reverse &amp;&amp; h.field == predicate"></i><i class="ion-android-arrow-dropdown" ng-show="!reverse &amp;&amp; h.field == predicate"></i></a><span ng-if="!handleSort(h.field)">{{h.name}}</span></th>
        <th class="md-table-header"></th>
      </tr>
    </thead>

    <tbody>
      <tr class="md-table-content-row" ng-repeat="c in content | filter:filters | startFrom:tablePage*count | limitTo: count">
        <td>
          <div class="md-table-thumbs" ng-repeat="h in headers" ng-if="h.field == thumbs">
            <div style="background-image:url({{c.thumb}})"></div>
          </div>
        </td>
        <td class="md-table-content" ng-repeat="h in headers" ng-class="customClass[h.field]" ng-if="h.field != thumbs">{{(h.field.indexOf('date') > 0) ? $filter('date')(c[h.field]) : c[h.field];}}</td>
        <td class="md-table-td-more">
          <md-button aria-label="Info"><i class="ion-android-more-vertical"></i></md-button>
        </td>
      </tr>
    </tbody>

  </table>
</div>
