.default-bg {
    background-color: #0e334c;
}
.white-bg {
    background-color: #EEEEEE;
    color: #555555 !important;
}
.navy-bg {
    background-color: #4E3240;
}
.sky-bg {
    background-color: #3299df;
}
.lime-bg {
    background-color: #2bcc6f;
}
.dust-bg {
    background-color: #98a9aa;
}
.green-bg {
    background-color: #32a183;
}
.orange-bg {
    background-color: #EF8C2A;
}
.yellow-bg {
    background-color: #febe3c;
}
.red-bg {
    background-color: #c0392b;
}
.chocolate-bg {
    background-color: #72694e;
}
.dark-bg {
    background-color: #292F33;
}
.green-soft-bg {
    background-color: #0bb4b4;
}
.purple-bg {
    background-color: #5a67b2;
}
